.final-page-container {
    background-color: #fdf2f2 !important;
    min-height: 100vh;
    width: 100%;
    padding-bottom: 80px;
    font-family: 'Lora', serif !important;
}

.final-hero-section {
    text-align: center;
    padding: 60px 20px;
}

.final-hero-section h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    color: #1a1a1a;
}

.final-flex-layout {
    display: flex;
    gap: 40px; /*RAZMAK IZMEĐU KARTICA */
    justify-content: center;
    align-items: stretch;
}

.final-card-box {
    background: #ffffff !important;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.05);
    flex: 1; /* Obe kartice će biti iste širine */
    display: flex;
    flex-direction: column;
}

.final-title {
    color: #8b1a1a;
    font-weight: 700;
    margin-bottom: 25px;
}

/* FORMA I FONT */
.final-input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: left;
}

.final-input-group label {
    font-weight: 600;
    color: #444;
    margin-bottom: 8px;
}

.final-input-group input, 
.final-input-group textarea {
    font-family: 'Lora', serif !important; 
    padding: 12px;
    border: 1px solid #e0b8b8;
    border-radius: 8px;
    outline: none;
}

.final-submit-btn {
    background-color: #8b1a1a;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    transition: 0.3s;
}

.final-submit-btn:hover {
    background-color: #1a1a1a;
}


.final-map-container {
    height: 350px !important;
    min-height: 350px; 
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 25px;
    border: 1px solid #eee;
    z-index: 1;
}

.final-info-list p {
    margin-bottom: 10px;
    font-size: 0.95rem;
    color: #333;
}

@media (max-width: 992px) {
    .final-flex-layout {
        flex-direction: column;
    }
}